@model IEnumerable<BookKeepers.BL.Models.Book>

@{
    ViewData["Title"] = "Index";
    ViewBag.Active = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="LinkStyle btnStyle CreatNew">
    <a class="" asp-action="Create">Create New</a>
</div>
<div class="flexbox">
        @foreach (var item in Model) {

    <div class="books">
        <h4>$@Html.DisplayFor(modelItem => item.Cost)</h4>
        <a class"boxLinkImg" asp-route-id="@item.Id" asp-action="Details">
            <img src="~/img/@Html.DisplayFor(modelItem => item.Photo)" />
        </a>
            <div class="info">
        <a asp-route-id="@item.Id" asp-action="Details">
            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            <h5>@Html.DisplayFor(modelItem => item.AuthorName)</h5>
            <h5>@Html.DisplayFor(modelItem => item.Year)</h5>
        </a>
        </div>
            <input class="btnStyle"
                type="button"
                onclick="AddToCart(@item.Id)"
                value="Add to Cart" />   
  </div>
         }
</div>