@model IEnumerable<BookKeepers.BL.Models.Book>

@{
    ViewData["Title"] = "Index";
    ViewBag.Active = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="flexbox">
@foreach (var item in Model) {
        
    <div class="books">
        <a class"boxLinkImg" asp-route-id="@item.Id" asp-action="Details">
                <img src="~/img/@Html.DisplayFor(modelItem => item.Photo)" />
        </a>
        <div class="info">
                <a asp-route-id="@item.Id" asp-action="Details">
            <h6>@Html.DisplayFor(modelItem => item.Title)</h6>
            <h7>@Html.DisplayFor(modelItem => item.AuthorName)</h7>
            <h7>@Html.DisplayFor(modelItem => item.Year)</h7>
            </a>
                    <input class="addToCart"
                           type="button"
                           onclick="AddToCart(@item.Id)"
                           value="Add to Cart" />
        </div>
    </div>
    
}
</div>


